.vmdb-movieinfo {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;
}

@keyframes animateMovieinfo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.vmdb-movieinfo-content {
  max-width: 1280px;
  min-height: 450px;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.7);
  border-radius: 20px;
  position: relative;
}

.vmdb-movieinfo-thumb {
  width: 300px;
  float: left;
}

.vmdb-movieinfo-text {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  color: #fff;
  overflow: hidden;
}

.vmdb-movieinfo-text h1 {
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  margin: 0;
}

.vmdb-movieinfo-text h3 {
  font-size: 16px;
  line-height: 0;
  margin-top: 30px;
}

.vmdb-movieinfo-text p {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.vmdb-rating {
  width: 190px;
  height: 20px;
  margin-top: 20px;
  position: relative;
}

.vmdb-score {
  position: absolute;
  margin: 0;
  right: 0px;
  top: -3px;
}

.vmdb-director {
  margin: 0;
}

.film-genres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating-container-film {
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: inherit;
  padding: 10px;
}

.rating-container {
  /* background-color: darkgray; */
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: inherit;
  padding: 10px;
}

.rating-container button {
  border: none;
  border-radius: 20px;
}

.continue {
  color: #000 !important;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}

.continue:hover {
  opacity: 0.7;
}

.rating-container p {
  color: white;
  font-size: 22;
  font-weight: 500;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.rating-span {
  color: darkred;
  font-weight: 900;
  font-size: larger;
}

.fa-film {
  color: #fff;
  cursor: pointer;
}


.fa-film:hover {
  opacity: 0.7;
}

.fa-lock {
  color: darkred;
  cursor: pointer;
}

.fa-lock:hover {
  opacity: 0.7;
}

meter::-webkit-meter-bar {
  background: #fff;
  width: 150px;
}

meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, #16d47b) !important;
}

meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, #fbb450) !important;
}

meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, #ee5f5b) !important;
}

@media screen and (max-width: 1000px) {
  .vmdb-movieinfo-text h1 {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 768px) {
  .vmdb-movieinfo {
    min-height: 600px;
    height: auto;
  }

  .vmdb-movieinfo-thumb {
    width: 100% !important;
  }

  .rating-container {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: inherit;
    margin-right: auto;
    padding: 0 20px 0 20px;
  }

  .rating-container p {
    color: white;
    font-size: 22;
  }

  .rating-span {
    color: #d50c0c;
    font-weight: 900;
  }

  .continue {
    color: white;
    margin-left: 10;
  }

  .fa-film {
    align-self: end;
  }

  .vmdb-movieinfo-text h1 {
    font-size: 32px;
  }
}